.body__cart__basket {
    max-width: 33rem;
    width: 360px;
    height: 220px;
    padding: 1rem 1.5rem;
    margin: 1rem;
    border-radius: 5px;
    position: absolute;
    background-color: $white;
    @include hide;
    z-index: 2;
    box-shadow: -8px 10px 15px -1px rgba(0, 0, 0, 0.345);

    @include respond-to(medium) {
        position: absolute;
        right: 30px;
        top: 81px;
    }
}

.body__cart__basket__tag {
    font-weight: 600;
    margin-top: 1rem;
}

.body__cart__basket__details {
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__cart__basket__image__and__description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 15px;
    line-height: 1.5;
}

.basket__detail__two {
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    display: none;
}

.basket__details__and__button {
    margin-top: 1.5rem;
}

.cart__basket__image {
    width: 60px;
    border-radius: 5px;
}

.delete__icon {
    width: 20px;
}

.body__cart__basket__button {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: $orange;
    font-weight: 500;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.body__cart__basket__button:hover {
    background-color: hsl(26, 82%, 60%);
}

.basket__total__price {
    font-weight: 600;
} 