.header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.header__menu_and_h1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__cart_and_profile_photo{
    display: flex;
    align-items: center;
}

.header__profile_photo{
    width: 30px;
    height: 30px;
}

.header__menu__button{
    background-color: transparent;
    border: 0;
}

.header__menu{
    width: 25px;
    height: 25px;
}

.header__cart{
    margin-right: 2rem;
}

.header__cart__counter {
    padding: 0.5rem 0.7rem;
    background-color: $orange;
    border-radius: 20px;
    color: $white;
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    right: 55px;
    display: none;
}