@import 'config';
@import 'header';
@import 'body';
@import 'sidebar-items';
@import 'overlay';
@import 'cartBasket';

body{
    position: relative;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}